<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://filemanager:yGqgQ($aAd#Y4^NOo3)W@teamserver"/>
    <add key="GridFSDB" value="files"/>
    <add key="MountPoint" value="N:\"/>
  </appSettings>
</configuration>
